*{
    margin: 0%;
    padding: 0%;
}
.row{
    border: 1px solid black;
    text-align: center;
}
.row1{
    border:1px solid black;
    text-align: center;
}
.col-4{
    border: 1px solid black;
    text-align: center;
}
.col-1{
    border: 1px solid black;
    text-align: center;
}
.col-2{
    border:1px solid black;
    text-align: center;
}
